.boxBorder{
    border: 1px solid #6d6d6d;
    border-radius: 10px;
    width: 20%;
    padding: 40px 10px;
}

.label{
    margin: 4px;
    color:#6d6d6d;
    font-size: 20px;
}

.input{
    text-align: right;
    border: 1px solid #6d6d6d;
    padding: 10px;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button{
    margin-top: 10px;
}

.title{
    color:#6d6d6d;
    font-size: 20px;
    margin: 4px;
}