.button {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0px;
  margin: 0px;
}

.hamburger {
  color: black;
}

.hamburger > .hamburgerInner {
  position: relative;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  height: 2px;
  width: 60%;
  transition: all 0.4s ease;
}

.hamburger > .hamburgerInner::before,
.hamburger > .hamburgerInner::after {
  content: '';
  position: absolute;
  left: 0px;
  top: -10px;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
}

.hamburger > .hamburgerInner::after {
  top: 10px;
}

.hamburgerOpen > .hamburgerInner {
  background: rgba(0, 0, 0, 0);
}

.hamburgerOpen > .hamburgerInner::before {
  top: 0;
  transform: rotate(45deg);
  background: black;
}

.hamburgerOpen > .hamburgerInner::after {
  top: 0;
  transform: rotate(135deg);
  background: black;
}
