.numberInput{
  border: 0.5px solid rgb(109, 157, 217);
  padding: 10px 2px 10px 80px;
  color: black;
  text-align: end;
  border-radius: 6px;
  margin:6px
}
.numberInput::placeholder{
  color:grey
}

.numberInput:focus{
  outline: 1px solid rgb(84, 118, 160);
  border-radius: 6px;
}
.label{
  color:rgb(56, 56, 56);
}