.box {
  box-shadow: 0px 1px 1px 1px rgb(233, 232, 232);
  padding: 10px;
  border-radius: 6px;
  margin: 10px;
  width: 200px;
  color: #5a5a5a;
}

.contentBox {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

.value {
  font-size: 24px;
}

.change {
  font-size: 12px;
}

.textBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: inline-flex;
  flex-wrap: wrap;
  display: inline-flex;
  gap: 90px;
}

.date {
  font-size: 12px;
}

.green {
  color: lawngreen;
}

.red {
  color: red;
}
